<div class="art-container">
  <section >
    <div class="row" >

      <div class="col-12 col-md-8 image-section">
        <img src="/assets/start.png" alt="Art Image" class="center">
      </div>

      <div class="col-12 col-md-4 assets-section">
        <div class="row">
          <div class="col-12">
            <ul class="edit-section">
              <li><i class="fa-solid fa-font"></i>&ensp;Text</li>
              <li><i class="fa-solid fa-icons"></i>&ensp;Icon</li>
              <li><i class="fa-regular fa-image"></i>&ensp;Photos</li>
              <li><i class="fa-solid fa-fill"></i>&ensp;Background</li>
            </ul>
          </div>
          <div class="col-12">
            <ul class="info-section">
              <li class="top-btn">
                <button class="btn btn-primary top-btn"><i class="fa-solid fa-rotate-left"></i>&ensp;Undo</button>
                <button class="btn btn-primary top-btn">Redo&ensp;<i class="fa-solid fa-rotate-right"></i></button>
              </li>
              <li class="top-btn">
                <label for="cars">Choose Color:</label>
                <select name="cars" id="cars">
                  <option value="#FF0000">Red</option>
                  <option value="#008000">Green</option>
                  <option value="#0000FF">Blue</option>
                  <option value="#000000">Black</option>
                  <option value="#FFFFFF">White</option>
                  <option value="#800000">Marron</option>
                  <option value="#00FFFF">Aqua</option>
                  <option value="#008080">Teal</option>
                  <option value="#800080">Purple</option>
                  <option value="#FF00FF">Fuchsia</option>
                </select>
              </li>
              <li class="top-btn">
                <button class="btn btn-primary top-btn"><i class="fa-brands fa-firstdraft"></i>&ensp;Save Draft</button>
                <button class="btn btn-primary top-btn"><i class="fa-solid fa-floppy-disk"></i>&ensp;Save</button>
              </li>
            </ul>
          </div>
        </div>
      </div>
      
    </div>
  </section>
</div>